
* {
	box-sizing: border-box;
}


html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;

}

input {
	display: flex;
	justify-content: center;
	min-width: 70%
}


body {
	font-family: sans-serif;
	font-size: 1.1rem;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
		text-align: center;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}



/*
From dataviz Course
*/
.width-limited {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}



p {
	text-align: justify;
}


h1, h2, h3, h4, h5, h6
{
	color: rgb(10, 100, 150);
}
h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }







/* The box with a dark background and our site's title */
.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 2rem;
	padding-bottom: 3rem;

	background-color: rgb(10, 100, 150);

	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	font-size: 2.5rem;
	color: white;
	font-variant: small-caps;
}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: rgb(50, 50, 50);
}

figure embed {
	width: 100%;
}


footer {
	padding-bottom: 5rem;
}

button {
    display: display;
    margin: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    border: 2px black solid;
    border-radius: 0.5rem;
    background: rgb(150, 200, 255);
    font-weight:200;
    font-size: 1.2rem;
		font-family: monospace;
}

.fixed-box{
	text-align: left;
	padding: 10px;
	overflow:scroll;
	min-height: 270px;
	max-height: 270px;
	min-width: 300px;
	border: 2px rgb(10, 100, 150) solid;
	width: 90%;
	font-family: "courier new";
	font-size: 13px;
	margin: auto;
}

#info-box{
	min-height: 200px;
	max-height: 200px;

}

h6 {

	margin-top: 5px;

}

h4{
	margin-bottom: 0;
}

h5 {
    -webkit-box-align:center;
    -webkit-box-pack:center;
		justify-content: center;
    display:-webkit-box;
		text-align: center;


}

.option {


}

.option:hover {
	color: white;
  background-color : rgb(10, 100, 150);
	cursor: pointer;
}



input {

	margin: auto;
}
